*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: aqua;
    width: 100%;
    height:fit-content;

    display: flex;
    justify-content: space-evenly;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.innernav{
  width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.innernav a{
    text-decoration: none;
}
.innerbar{
    border: 2px solid black;
    width:50%;
    height: 50vh;
    transform: translate(-50%,-90%);
   position: fixed;
   top: 50%;
   left: 50%;
   display: none;
   

}
.list{
    width: 90%;
    height: 80%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#opennav{
    width: 100%;
    height: 100%;
}
.menubar{
    
    width: 10%;
    display: none;

}
.x{
    width: 100%;
    display: flex;
    justify-content: end;
}
@media screen and (max-width: 480px) {
    .nav{
        width: 100%;
    }
    .menubar{
        display: block;
    }
    
    
    #opennav{
        border: none;
        background-color: aqua;
        height: 100%;
        width: 100%;
    }
    .innernav{
        display: none;
    }
   
}