*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
     background-color: black;
     display: flex;
     justify-content: center;
     align-items: center;
}
.output{
    border: 1px solid black;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.output input{
    width: 60%;
    height: 80%;
}
.output button{
    width: 25%;
    height: 80%;
}

.inner-container{
    width: 40%;
    height: 70vh;
    background-color:white;
    display: flex;
    flex-direction: column;
    
    
}


.button{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: center;
}
.button button{

    width:21%;
    height: 90%;
}